@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
}
.container{
    margin: 2rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.col {
    flex: 1 1 0;
}

.header {
    margin: 2rem 0;
}

.title {
    font-family: "Amarna", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}